body{
    background-image: url(file-4bnoxsGtiyKbLEDiZCcJmt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
h1{
      background: linear-gradient( to right,royalblue, pink);
     
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
p{
    background: linear-gradient( to right,royalblue, pink);
     
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: justify;
}
