body{
    background-color: black;
}
h1{
    color: aliceblue;
    border-top-style: groove;
    border-bottom-style: groove;    
    border-left-style: groove;
    border-left-width: 10px;
    border-radius: 30px;



}
p{
    color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border-color: royalblue;
    

}